* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: var(--neutral-900);
  color: var(--neutral-0);
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
}


.app {
  max-width: 1200px;
  margin: auto;
  padding: 60px 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  color: var(--neutral-300);
}


.hero {
  text-align: center;
  margin: 60px 0;
}

.hero h1 {
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.unit-toggle {
  background: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: 8px;
  padding: 8px 16px;
}


.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 12px;
  width: 300px;
  border-radius: 8px;
  border: none;
}

:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

.search-box button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
  background: var(--blue-500);
  color: white;
  cursor: pointer;
}

.search-box button:hover {
  background: var(--blue-700);
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}


.main-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.weather-card {
  background: url('../assets/bg-today-large.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 30px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 220px;
}

.weather-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-icon {
  width: 28px;
  height: 28px;
}


.temperature {
  font-size: 60px;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 30px 0;
}

.metric-card {
  background: var(--neutral-800);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.daily-forecast {
  margin-top: 20px;
}

.daily-cards {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.day-card {
  background: var(--neutral-800);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  flex: 1;
}

.right {
  background: #151a3f;
  padding: 20px;
  border-radius: 20px;
}

.hourly-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


  .hour-card {
    background: var(--neutral-800);
    padding: 15px;
    border-radius: 10px;
    display: flex; 
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
.hour-icon {
  width: 24px;
  height: 24px;
}


/* Responsive */
@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .metrics {
    grid-template-columns: repeat(2, 1fr);
  }

  .daily-cards {
    overflow-x: auto;
  }
}
